html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


body {
    margin: 0;
    background-color:#c4bdff;
	min-height: 100%;
	position: relative;
	padding-bottom: 140px;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.navMenu {
    background-color: #333;
	height: 48px;
	position: -webkit-sticky;
  position: sticky;
  top: 0;
	z-index: 999999999999999999;
}

.navMenu a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navMenu a:hover {
    background-color: #ddd;
    color: black;
}

.navMenu a.active {
    background-color: #04AA6D;
    color: white;
}

.navMenu a.active:hover {
    background-color: orange;
    color: black;
}

.footer {
    background-color: #333;
	position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
	min-width: 100%;
	height: 140px;
	color: #f2f2f2;
	padding: 20px 0px 20px 0px;
	z-index: 99999999;
}

.footer a {
	color: #04AA6D;
}

.footer a:hover {
	color: orange;
}

.coollink {
	color: #04AA6D;
}

.coollink:hover {
	color: orange;
}

.blockB {
    margin: 10px;
    background-color: black;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.blockB:hover {
    cursor: pointer;
    background-color: orange;
    color: black;
}

.blockB.active {
    background-color: #04AA6D;
    color: white;
}
.blockC {
    margin: 10px;
    background-color: black;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.blockC:hover {
    cursor: pointer;
    background-color: orange;
    color: black;
}

.blockC.active {
    background-color: #04AA6D;
    color: white;
}

.textBox {
    display: block;
    position: relative;
    padding-right: 45px;
    margin-bottom: 12px;
    margin-top: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/*css from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_radio*/
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}


.checkmark2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
.container .checkmark2:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.container input:checked ~ .checkmark2:after {
  display: block;
}
.checkmark2:after {
  content: "";
  position: absolute;
  display: none;
}
.container input:checked ~ .checkmark2 {
  background-color: #2196F3;
}
.container input:checked:hover ~ .checkmark2 {
  background-color: orange;
}
.container input:checked:hover ~ .checkmark {
  background-color: orange;
}
.container:hover input ~ .checkmark2 {
  background-color: #ccc;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}